<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Create</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                Task: <input type="text" name="task" required><br>
                Due Date: <input type="text" name="due_date"><br>
                Is Completed <input type="checkbox" name="is_completed"><br>
                List: <select name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                    {% endfor %}
                </select><br>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
